@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body  {
  display: grid;
  background: #FEFEFE;
  min-height: 100vh;
}

#sign-in-form{
  max-width: 300px;
  
}

#main-container{
  place-items: center center
}


.login-logo{
  width: 100px;
  height: 100px;
}